<p>Parent Form</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="options">Options</label>
          <select (change)="changeset($event)" type="text" id="options" formControlName="options" class="form-control">
            <option *ngFor="let option of options">{{option}}</option>
          </select>
          <p>Selected Set : {{selectedSet}}</p>
          <select (change)="changeQuantity($event)" name="selectedQuantity" id="aantal" class="form-control">
            <option *ngFor="let option of optiones">{{option}}</option>
          </select>

          <p>Selected Quantity : {{selectedQuantity}}</p>

        </div>
        <mat-tab-group>
          <mat-tab label="Tree"> <app-tree-container></app-tree-container> </mat-tab>
          <mat-tab label="Emails"> <app-email-child (emailValue)="onFormvalue($event)"
              [events]="eventsSubject.asObservable()"></app-email-child>
          </mat-tab>
        </mat-tab-group>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>